html{
  width: 100%;
  height: auto;
}
body{
  background-color:   #e6e6e6;
}
h1{
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-bottom: solid 2px;
}
ul{
   -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}
ul li{
  list-style-type: none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 170%;
}

#total_km{
  text-align: center; 
}


@media screen and (min-width: 800px) and (max-width: 1056px) {
    ul{
   -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
}
@media screen and (max-width: 800px) {
    ul{
   -moz-column-count: 1;
    -moz-column-gap: 20px;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
    text-align: center;
  }

}


